body {
    background-color: gray;
}

.container {
    width: 678px;
    height: 100%;
    margin: auto;
    background-color: #fff;
}

.menu {
    width: 678%;
    height: 55px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #b02aff;
    align-items: center;
    position: fixed;
}

li {
    height: 30px;
    width: 75px;
    margin: 0 0 0 7px;
    background-color: #2aeaff;
    list-style: none;
    display: block;
}

.wraper {
    height: auto;
    width: auto;
    display: flex;
}

.content {
    background-color: #ffd62a;
    height: 452px;
    width: 452px;
    margin: 7px;
    margin-left: 0;
    order: 2;
}

.sidebar {
    background-color: #51d400;
    height: 452px;
    width: 226px;
    margin: 7px;
    order: 1;
}

.footer {
    height: 55px;
    width: 664px;
    background-color: #cccccc;
    margin: 0 7px 7px 7px;
}