body {
    background-color: grey;
}

.container {
    height: 280px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: #ffd62a;
    align-items: center;
    justify-content: space-between;
}

.purple {
    width: 105px;
    height: 105px;
    margin: 0;
    padding: 0;
    background-color: #b02aff;
}