body {
    background-color: grey;
}

.container {
    height: 280px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: #ffd62a;
    justify-content: flex-end;
    align-items: flex-end;
}

.purple {
    width: 105px;
    height: 105px;
    margin: 0 0 0 5px;
    background-color: #b02aff;
}