body {
    background-color: grey;
}

.container {
    background-color: white;
    max-width: 570px;
    display: flex;
}

.item {
    width: 190px;
    height: 190px; 
}

.green {
    background-color: #51d400;
    
}

.yellow {
    background-color: #ffd62a;
}

.purple {
    background-color: #b02aff;
}